$text_color: #e0e0cf
  

body
    margin: 0
    background-color: #ebebdb
    font-family: Geologica
.mainmenu
    display: flex
    justify-content: start
    margin-top: 5px
    margin-left: 178px
    
    ul
        display: flex
        justify-content: space-around
        
        
        li
            margin-left: 30px
            list-style: none
            font-size: 27px
            font-weight: 500
            
            a
                text-decoration: none
                color: black
            a:hover
                transition-delay: 0.15s
                color: #2f465a /* Цвет текста при наведении */
                background-color: rgba(189, 179, 140, 0.2) /* Цвет фона при наведении */
                padding: 4px 10px /* Отступы вокруг текста */
                border-radius: 21px /* Закругленные углы */
        
                
                

                
            
.container
    display: flex
    height: 975px
    max-width: 1920px
    margin-left: 120px
    

    
    .langprog
        display: flex
        justify-content: space-between
        width: 100%
        max-width: 1920px
        

        .langvizit
            display: flex
            flex-direction: column
            
            
            h1
                margin-top: 170px
                margin-left: 180px
                padding: 10%
                font-weight: 300
                font-size: 29px

            img
                position: relative
                width: 115px
                height: 115px
                margin-top: -154px
                margin-left: 130px
                border: solid
                border-color: $text_color
                border-radius: 200px

            h2
                margin-top: 50px
                margin-left: 130px
                padding-right: 150px
                font-weight: 500
                font-size: 20px



            p
                margin-top: 3px
                margin-left: 130px
                padding-right: 150px
            span
                margin-right: 13px
            
 
    .langinfo
        margin-right: 260px
        margin-top: -41px
        p
            
            color: rgba(212, 213, 206, 0.8)
            font-family: Geologica
            font-size: 230px
        
        

.description
    display: flex
    justify-content: flex-end
    margin-top: 120px
    margin-left: 50%
    padding-right: 250px
    height: 130px
    
    
    
    
    &_text
            font-weight: 100
            font-size: 20px
            
            span
                margin-right: 13px
                margin-left: 13px
                font-size: 6px
                
                
                i
                    vertical-align: super
                
                
    hr
        width: 600px
        border: 0 /* Убираем стандартную рамку */
        height: 2px /* Толщина линии */
        background: linear-gradient(90deg, rgb(116, 86, 78), #feb47b) /* Градиент */
        margin: 20px 0 /* Отступы */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) /* Тень для объема */
        

        
            
            
           
        
    
    
    
.footer
    display: flex
    justify-content: center
    align-items: center
    margin-top: 600px
    background-color: rgb(221, 223, 215)
    border: 0.2px solid grey
    box-shadow: 1px 1px 1px #dadada9c
    height: 100px
   
        
    i
        background-color: rgba(221, 223, 215, 0.3)
        margin-left: 25px
        font-size: 30px
    

    
  
            
            
            